// global.scss
@import "./theme.scss";
* {
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
 outline: none;
}
html, body {
 margin: 0;
 padding: 0;
} 

h5 {
  padding: 1rem;
  font-weight: 700;
}

.hatch-left-image-big img {
		position: relative;
		z-index: 9;
		// height: 100%;
    // width: 100%;
	}
	.hatch-right-image-big img {
		position: relative;
		z-index: 9;
		// height: 100%;
    // width: 100%;
  }
  
.blue-bg-square-left {
  box-shadow: -14px 22px 0px -2px #96bdf2;
}

.blue-bg-square-right {
  box-shadow: 19px 22px 0px -2px #96bdf2;
}


.pink-bg-square-left {
  box-shadow: -14px 22px 0px -2px #d9a7c0;
}

.pink-bg-square-right {
  box-shadow: 19px 22px 0px -2px #d9a7c0;
}

.yellow-bg-square-left {
  box-shadow: -14px 22px 0px -2px #efc881;
}

.yellow-bg-square-right {
  box-shadow: 19px 22px 0px -2px #efc881;
}

.hatch-left-image-big {
		position: relative;
    // padding: 3rem 0rem 3rem 3rem;
    padding: 4rem;
		&:after {
			// content: '';
			// position: absolute;
			// right: 20px;
			// top: 35px;
			// height: 92%;
      // width: 95%;
      // right: 51px;
      // top: 50px;
      // height: 90%;
      // width: 75%;
			// background-color: #96bdf2;
			// z-index: 1; 
		}
	}


.hatch-right-image-big {
	&.dashed {
		&:after {
			background-color: initial;
			border: 11px dashed #d9a7c0;
		}
	}
}

.hatch-left-image-big {
	&.yellow {
		&:after {
			background-color: #efc881 !important;
		}
	}
}

.hatch-right-image-big {
	position: relative;
  // padding: 3rem 3rem 3rem 0rem;
  padding: 4rem;
	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	left: 20px;
  //   top: 35px;
  //   height: 92%;
  //   width: 95%;
  //   background-color: #d9a7c0;
  //   z-index: 1; 
	// } 
} 
.featured-items {
	height: 3rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	position: relative;
	height: 100%;
	@media screen and (max-width: 425px) {
		grid-template-columns: repeat(2, 1fr);
	}
} 

button {
	font-family: 'PlayFairRegular';
}

.hatch-btn {
	padding: 1rem;
	display: flex;
	button {
		border: 1px solid #efc881;
		border-radius: 9px;
		padding: 0.5rem 1rem;
		font-size: 1.6rem;
		color: #efc881;
		transition: all 300ms;
		width: 22rem;
		height: 4rem;
		&:hover {
			background-color: #e4a73a;
			border: 1px solid #e4a73a;
			color: #fff;
		}
	}
	@media screen and (max-width: 1024px) {
		justify-content: center;
		button {
			font-size: 1rem;
		}
	}
	@media screen and (max-width: 768px) {
		button {
			font-size: 2rem;
		}
	}
}

.featured-item h1 {
	font-size: 2rem;
	font-family: 'PlayFairRegular';
}
.hatch-link {
	& h1 {
	  transition: all 300ms;
		color: #e4a73a;
	}
	cursor: pointer;
	&:hover {
		& h1 {
			color: #ac335e;
		}
	}
}
.footer-links-nav {
  max-width: 40rem;
  font-family: 'PlayFairRegular', serif;
  padding: 4rem 0;
  & a {
	  transition: all 300ms;
    &:hover {
      color: #ac335e;
    }
  }
}
footer {
	@media screen and (max-width: 425px) {
			text-align: center;
		}
}
.hatch-instagram {
	display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  @media screen and (max-width: 425px) {
		grid-template-columns: auto;
	}
  p {
  	font-family: 'PlayFairRegular', serif;
  	font-style: normal;
  	border-right: 1px solid #e3e3e3;
  }
  .left-section {
  	display: grid;
  	grid-template-columns: 1fr 1fr;
  	grid-gap: 1rem;
  	@media screen and (max-width: 425px) {
  		grid-template-columns: auto;
  	}
  }
  .hatch-logo {
    display: flex;
    padding: 1rem;
    @media screen and (min-width: 425px) {
			align-items: flex-start;
    	flex-direction: row-reverse;
		}
		@media screen and (max-width: 425px) {
			justify-content: center;
		}
  }
  .instagram-items {
  	display: grid;
  	grid-template-columns: 1fr 1fr 1fr;
  	padding: 1rem;
    grid-gap: 1rem;
  	div {
  		padding: 0.5rem;
  	}
  }
}

.blocks-gallery-grid {
	display: flex;
	justify-content: center;
	align-items: center;
	.blocks-gallery-item {
		padding: 1rem;
	}
}
.has-text-align-center {
	text-align: center;
	margin: 0 auto;
} 

.wp-block-image  {
	display: grid;
	justify-content: center;
	font-size: 0.7rem;
	text-align: center;
	img {
		margin: 0 auto;
	}
}

.hatch-hr {
	hr {
		width: 1.5rem;
    margin: 0.5rem auto;
    border-bottom: 3px solid $h1-color;
	}
}

.blog-posts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1.5rem;
	@media screen and (max-width: 425px) {
		grid-template-columns: auto;
		padding: 3rem;
	}
	.post {
		transition: all 300ms;
		opacity: 0.8;
	 	&:hover {
			opacity: 1;
		}
		h1 {
			font-size: 2.5rem;
			@media screen and (max-width: 425px) {
				font-size: 2rem;
			}
		}
		h4 {
			font-size: 1.7rem;
			@media screen and (max-width: 425px) {
				font-size: 1.4rem;
			}
		}
		img {
			width: 100%;
		}
	}
}

.subscribe-wrapper {
    background-color: #a68dcb;
    & .subscribe {
      display: grid;
      grid-template-columns: 1fr 1fr;
      // grid-gap: 4rem;
    	// max-width: 112rem;
      margin: 0 auto;
      .subscribe-image {
      	height: 36rem;
    		margin: 0 auto;
      }
      @media screen and (max-width: 768px) {
      	grid-template-rows: 0.3fr 1fr;
      	grid-template-columns: initial;
      	padding: 2rem;
      }
    }
    & p, h2 {
      color: #fff;
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
      padding: 0;
      @media screen and (max-width: 425px) {
      	margin: 0 auto;
    		text-align: center;
      }
    }
    img {
      height: 100%;
      // width: 100%;
    }
    .subscribe-content {
      display: grid;
      justify-content: center;
      align-items: center;
      & .content {
        padding-left: 2rem;
        padding-right: 2rem;
      	@media screen and (max-width: 1024px){
      		// padding: 4rem 1rem;
      	}
      }
      .subscribe-form {
        & form {
        	color: #fff;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          @media screen and (max-width: 768px) {
          	grid-template-columns: initial; 
          	height: 18rem;
          }
          grid-gap: 1rem;
          align-items: center; 
          margin-top: 4rem;
          input {
          	text-align: center;
          }
        }
      }
    } 
  }

  form {
  	button {
      height: 4rem;
      width: 16rem;
      background-color: #e4a73a;
      color: #fff;
      border-radius: 7px;
      font-family: 'playFairRegular';
      transition: all 300ms;
      @media screen and (max-width: 425px) {
      	width: 100%;
      }
      &:hover {
      	background-color: transparent;
      	border: 1px solid #e4a73a;
      }
    }
  }

  #sapper {
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #fff;
		opacity: 1; /* Firefox */
	}
	input {
      transition: all 300ms;
      height: 3.5rem;
      width: 100%;
    }
    textarea, input {
      border-radius: 6px;
      background-color: transparent;
    //   border: 1px solid #fff; 
    }
  }
//   #sapper {
  	// ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	// 	  color: #fff;
	// 	  opacity: 1; /* Firefox */
	// 	}

	// 	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	// 	  color: #fff;
	// 	}

	// 	::-ms-input-placeholder { /* Microsoft Edge */
	// 	  color: #fff;
	// 	}
	// 	input {
    //   transition: all 300ms;
    //   height: 3.5rem;
    //   width: 100%;
    // }
    // textarea, input {
    //   border-radius: 6px;
    //   background-color: transparent;
    //   border: 1px solid #fff; 
    // }
    // textarea {
    // 	width: 100%;
    // 	height: 100%;
    // }
//   }

.content-wrapper {
  max-width: 80rem;
  margin: 0 auto;
}

.become-a-member-wrapper {
		margin: 2rem 0 2rem;
	}
	.become-a-member {
		display: grid;
    	grid-template-columns: 1fr 1fr;
		@media screen and (max-width: 768px) {
			display: flex;
			flex-direction: column-reverse;
			grid-template-columns: initial;
		}
		grid-gap: 1.5rem;
		.member-forms {
			// display: flex;
    	// align-items: center;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
          padding-left: 2rem;
      }
    	@media screen and (max-width: 768px) {
    		display: initial;
	    	grid-template-columns: initial;
			  height: 34rem;
	    }
	    form {
	    	@media screen and (max-width: 768px) {
	    		padding: 2rem;
	    	}
	    }
		}
    h3 {
    	padding: 0 1rem;
    }
    h2 {
    	max-width: initial;
    }
    & form {
    	display: grid;
    	grid-template-rows: 1fr;
    	grid-gap: 1rem;
    	width: 100%;
    	input, textarea {
    		width: 100% !important;
    	}
    	.upper {
    		display: grid;
    		grid-gap: 1rem;
    		& input {
    			height: 4rem;
    		}
    	}
    	.lower {
    		display: grid;
    		grid-gap: 1rem;
    		justify-items: right;
    		textarea {
    			width: 100%;
    		}
    	}
    	button {
    		&:hover {
    			color: #5d5d5d;
    		}
    	}
    }
    .become-a-member-content {
    	display: flex;
    	/*justify-content: center;*/
    	/*align-items: center;*/
    	/*height: 26rem;*/
    	@media screen and (max-width: 768px) {
    		text-align: center;
    		h3 {
    			margin: 0 auto;
    		}
    	}
			h2 {
				white-space: initial;
				line-height: 1.3;
				padding: 0 1rem 1rem;
			}
    	p {
    		padding: 0 1rem 1rem;
    	}
    }
    input, textarea {
    	/*color: #959595 !important;*/
    	border: 1px solid #959595 !important;
    	padding-left: 1rem;
    }
    textarea {
    	/*color: #959595 !important;*/
    	padding-top: 0.5rem;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		  color: #959595 !important;;
		  opacity: 1; /* Firefox */
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  color: #959595 !important;;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
		  color: #959595 !important;;
		}
	}


.loader {
	position: fixed;
  top: 0;
  // left: -100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  -webkit-transition: background-color .3s ease-out,transform 0s .3s linear;
  -moz-transition: background-color .3s ease-out,transform 0s .3s linear;
  -ms-transition: background-color .3s ease-out,transform 0s .3s linear;
  -o-transition: background-color .3s ease-out,transform 0s .3s linear;
  transition: background-color .3s ease-out,transform 0s .3s linear;
  // display: none;
  display: block;
}

.parallax {
	object-fit: contain;
	/* The image used */
	// background-image: url("img_parallax.jpg");

	/* Set a specific height */
	height: 500px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

  .pursue-svg {
    @media screen and (max-width: 425px) {
      height: 21rem;
    }
  }